{{!-- Cart View with Operations --}}
<div class="cart">
  {{#if products}}
    {{#each products}}
      <div class="cart-item">
        <img src="{{this.productID.thumbnail}}" alt="{{this.productID.title}}">
        <h3>{{this.productID.title}}</h3>
        <p>Price: ${{this.productID.price}}</p>
        <input type="number" id="quantityInput" value="{{this.quantity}}" data-productid="{{this.productID._id}}">
        <p>Subtotal: ${{calculateSubtotal this.productID.price this.quantity}}</p>
        <button class="delete-product" data-product-id="{{this.productID._id}}">Remove</button>
      </div>
    {{/each}}
    <button id="empty-cart">Empty Cart</button>
    <p>Total: ${{total}}</p>
  {{else}}
    <p>Your cart is empty.</p>
  {{/if}}
</div>
