<div class="products">
  {{#each products}}
    <div class="product">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" />
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Price: ${{this.price}}</p>
      <p>Available: {{this.stock}} items</p>
    </div>
  {{else}}
    <p>No products found.</p>
  {{/each}}
</div>
<script src="js/products.js"></script>
{{! Compare this snippet from Tercera-preEntrega-PF/src/views/login.handlebars: }}
{{! <div class="login-container">
 }}
{{!   <form id="login-form" class="login-form">
 }}
{{!     <h2>Ingresá a tu cuenta</h2>
 }}
{{!     <div class="form-group">
 }}
{{! 
 }}
{{!       <label for="email">Email:</label>
 }}
{{!       <input type="email" id="email" name="email" required />
 }}
{{!     </div>
 }}
{{!     <div class="form-group">
 }}
{{! 
 }}
{{!       <label for="password">Contraseña:</label>
 }}
{{!       <input type="password" id="password" name="password" required />
 }}
{{!     </div>
 }}
{{!     <button id="login" type="submit">Ingresar</button>
 }}
{{!   </form>
 }}
{{! </div>
 }}
{{! <script src="js/login.js"></script> }}
{{! Compare this snippet from Tercera-preEntrega-PF/src/views/home.handlebars: }}
{{! <div class="home">
 }}
{{!   <h1>Welcome to Mobile Store</h1>
 }}
{{!   <p>Find the best mobile phones here.</p>
 }}
{{! </div>
 }}
{{! Compare this snippet from Tercera-preEntrega-PF/src/views/chat.handlebars: }}
{{! <div class="chat-container">
 }}
{{!   <div class="chat">
 }}
{{!     <div class="chat-messages">
 }}
{{!       {{#each messages}}
 }}
{{!         <div class="chat-message">
 }}
{{!           <p>{{this.message}}</p>
 }}
{{!           <p>{{this.user}}</p>
 }}
{{!         </div>
 }}
{{!       {{/each}}
 }}
{{!     </div>
 }}
{{!     <form id="chat-form" class="chat-form">
 }}
{{!       <input type="text" id="message" name="message" required />
 }}
{{!       <button id="send" type="submit">Send</button>
 }}
{{!     </form>
 }}
{{!   </div>
 }}
{{! </div>
 }}
{{! <script src="js/chat.js"></