<div class="product-list">
  <input type="hidden" id="cartId" value="{{cartId}}">

  {{#each data.products}}
    <div class="product-card">
      <div class="product-card__image">
        <img src="{{this.thumbnail}}" alt="{{this.name}}" />
      </div>
      <div class="product-card__info">
        <h4>{{this.title}}</h4>
        <p class="description">{{this.description}}</p>
        <div class="product-meta">
          <span class="price">Price: ${{this.price}}</span>
          <span class="stock">Available: {{this.stock}}</span>
        </div>
        <button class="addProductToCart" id="{{this._id}}">Add to Cart</button>
      </div>
    </div>
  {{/each}}
  <div class="pagination">
    {{#if data.hasPrevPage}}
      <a href="/products?page={{data.prevPage}}"><button class="pagination-button">Previous</button></a>
    {{/if}}
    {{#if data.hasNextPage}}
      <a href="/products?page={{data.nextPage}}"><button class="pagination-button">Next</button></a>
    {{/if}}
  </div>
</div>
